*{
    margin: 0;
    padding: 0;
}
body{
    background-color: beige;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

   

   
}
img{
    width: 400px;
    height: 300px;
    margin-top: 20px;
    margin-left:40px;
    border-radius: 15px;
    box-shadow: 2px 4px 5px 0 silver;
    border: none;
    filter: grayscale(100);

    cursor: pointer; 
    }
     img:hover{
filter: grayscale(0);
    box-shadow: 1px 2px 2px 5px black;
    scale: 1.1;
    
     }
     
     .top{
        margin: 20px;
     }
      hr{
        width: 600px;
        margin-left: 30%;

     }